body {background-color: #E3D8BC; margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;}

.bgtabela_comparativa{ background-color: #FFFFFF;}

.txtpages{color:#000000; FONT-FAMILY: Arial,Verdana; FONT-SIZE: 12px; font-weight: normal; }